body {
    font-family: 'Righteous', cursive;
    background-color: #E5E5E5;
    position: relative;
}

@media (max-width: 415px){

.barratop {
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 21px;
    position: fixed;
    filter: drop-shadow(0 0 0.75rem grey);
}

.nomeapp {
    height: 44px;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    text-align: left;
    padding-bottom: 5px;
}

.slogan {
    height: 17px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.primeiro {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    box-sizing: border-box;
    padding-left: 21px;   
    padding-top: 26px; 
}

.primeirocespaço {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    box-sizing: border-box;
    padding-left: 21px;
    padding-top: 123px;
}

.prato {
    height: 250px;
    width: 100%;
    overflow-y: hidden;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 21px;
    min-height: 229px;
}

.umprato {
    height: 216px;
    width: 172px;
    left: 19px;
    top: 165px;
    border: 4px solid white;
    border-radius: 9px;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.imagem {
    height: 87px;
    left: 33px;
    top: 183px;
    box-sizing: border-box;
    padding-left: 21px;
    padding-right: 21px;
}

.texto {
    width: 144px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 8px;
}

h1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

h2 {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 5px;
}

h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.espaço {
    min-width: 16px;
    height: 10px;
}

.espaçofinal {
    width: 100%;
    height: 123px;
}

/*-------------------BOTTOM BAR--------------------*/

.bottombar {
    height: 92px;
    width: 100vw;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.botaocinza {
    height: 61px;
    width: 364px;
    left: 25px;
    top: 949px;
    border-radius: 50px;
    border: none;
    background-color:grey;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: white;
}

.botao {
    height: 61px;
    width: 364px;
    left: 25px;
    top: 949px;
    border-radius: 50px;
    border: none;
    background-color:green;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: white;
    display: none;
}

/*----------------CONFIRMAR PEDIDO -----------*/

.branco {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.confirmacao {
    height: 353px;
    width: 377px;
    left: 19px;
    top: 336px;
    border-radius: 9px;
    background-color:#50D074;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.confirmarpedido {
    padding-top: 21px;
    padding-bottom: 28px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;

}

.resumo {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 200;
}

.comidas {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.018em;
    text-align: left;
    color: white;
}

.precos {
    height: 150px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.018em;
    text-align: left;
    color: white;
}


.confirmar {
    height: 52px;
    width: 329px;
    left: 43px;
    top: 583px;
    border-radius: 100px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #50D074;
    background-color: white;
    border: none;
}

.cancelar {
    height: 52px;
    width: 333px;
    left: 43px;
    top: 635px;
    border-radius: nullpx;
    background-color: #50D074;
    border: none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: white;
}

}